<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="HealthChecksSection" type="HealthMonitor.Domain.Configuration.HealthChecksSection, HealthMonitor.Domain" />
		<!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=2.0.12.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />-->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<HealthChecksSection>
		<HealthChecks>
			<HealthCheck Name="stop-start-windows-services" Type="StopStartWindowsServices" AlertType="Email" To="example@gmail.com" From="example@gmail.com">
				<Schedule Frequency="Interval" StartTime="Apr 6, 2021 9:40 AM">
					<RunTimes>
						<RunTime Value="00:15:05"></RunTime>
					</RunTimes>
				</Schedule>
				<HealthCheckParameters>
					<HealthCheckParameter Name="AdobeARMservice" Type="service" Value="AdobeARMservice"></HealthCheckParameter>
				</HealthCheckParameters>
			</HealthCheck>
			<HealthCheck Name="delete-rolling-file-log-files" Type="RollingFileDateLog" AlertType="Email" To="example@gmail.com" From="example@gmail.com">
				<Schedule Frequency="Interval" StartTime="March 1, 2021">
					<RunTimes>
						<RunTime Value="00:01"></RunTime>
					</RunTimes>
				</Schedule>
				<HealthCheckParameters>
					<HealthCheckParameter Name="RollingFileAppender" Type="appender-ref" Value="RollingFile"></HealthCheckParameter>
					<HealthCheckParameter Name="RollingFileName" Type="file" Value="HealthMonitor-log*.txt"></HealthCheckParameter>
				</HealthCheckParameters>
			</HealthCheck>
			<HealthCheck Name="space-opimization" Type="SpaceOpimizationCheck" AlertType="Email" To="example@gmail.com" From="example@gmail.com">
				<Schedule Frequency="Interval" StartTime="March 1, 2021">
					<RunTimes>
						<RunTime Value="00:03"></RunTime>
					</RunTimes>
				</Schedule>
				<HealthCheckParameters>
					<HealthCheckParameter Name="maxDays" Type="Int32" Value="45"></HealthCheckParameter>
					<HealthCheckParameter Name="maxSize" Type="Int32" Value="1000"></HealthCheckParameter>
					<HealthCheckParameter Name="logFilesFolder" Type="folder" Value="c:\_projects\vs2019\logFilesFolder\"></HealthCheckParameter>
					<!--<HealthCheckParameter Name="debug" Type="folder" Value="c:\_projects\vs2019\HealthMonitor\HealthMonitor.ConsoleApp\bin\Debug\"></HealthCheckParameter>-->
				</HealthCheckParameters>
			</HealthCheck>
		</HealthChecks>
	</HealthChecksSection>
	<log4net>
		<!-- UDP Appender for Debug Monitor -->
		<appender name="udp" type="log4net.Appender.UdpAppender">
			<remoteAddress value="127.0.0.2" />
			<remotePort value="9999" />
			<layout type="log4net.Layout.XmlLayout" />
		</appender>
		<!-- Set up an appender to write to a file -->
		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="HealthMonitor-log" />
			<datePattern value="-yyyy-MM-dd.'txt'" />
			<rollingStyle value="Date" />
			<appendToFile value="true" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="100KB" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{yyyy-MM-dd hh:mm:ss} %-5level [%thread]  %logger - %message%newline" />
			</layout>
		</appender>
		<!--configure loggers-->
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingFile" />
			<!--<appender-ref ref="udp"/>-->
		</root>
	</log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>