<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="HealthChecksSection" type="HealthMonitor.Domain.Configuration.HealthChecksSection, HealthMonitor.Domain" />
	</configSections>
	<HealthChecksSection>
		<HealthChecks>
			<HealthCheck Name="stop-start-windows-services" Type="StopStartWindowsServices" AlertType="Email" To="example@gmail.com" From="example@gmail.com">
				<Schedule Frequency="Interval" StartTime="May 1, 2020">
					<RunTimes>
						<RunTime Value="00:05"></RunTime>
					</RunTimes>
				</Schedule>
				<HealthCheckParameters>
					<HealthCheckParameter Name="AdobeARMservice" Type="service" Value="AdobeARMservice"></HealthCheckParameter>
				</HealthCheckParameters>
			</HealthCheck>
			<HealthCheck Name="delete-rolling-file-log-files" Type="RollingFileDateLog" AlertType="Email" To="example@gmail.com" From="example@gmail.com">
				<Schedule Frequency="Interval" StartTime="March 1, 2021">
					<RunTimes>
						<RunTime Value="00:01"></RunTime>
					</RunTimes>
				</Schedule>
				<HealthCheckParameters>
					<HealthCheckParameter Name="RollingFileAppender" Type="appender-ref" Value="RollingFile"></HealthCheckParameter>
					<HealthCheckParameter Name="RollingFileName" Type="file" Value="HealthMonitor-log*.txt"></HealthCheckParameter>
				</HealthCheckParameters>
			</HealthCheck>
			<HealthCheck Name="space-opimization" Type="SpaceOpimizationCheck" AlertType="Email" To="example@gmail.com" From="example@gmail.com">
				<Schedule Frequency="Interval" StartTime="March 1, 2021">
					<RunTimes>
						<RunTime Value="00:03"></RunTime>
					</RunTimes>
				</Schedule>
				<HealthCheckParameters>
					<HealthCheckParameter Name="maxDays" Type="Int32" Value="45"></HealthCheckParameter>
					<HealthCheckParameter Name="maxSize" Type="Int32" Value="1000"></HealthCheckParameter>
					<HealthCheckParameter Name="logFilesFolder" Type="folder" Value="c:\_projects\vs2019\logFilesFolder\"></HealthCheckParameter>
					<!--<HealthCheckParameter Name="debug" Type="folder" Value="c:\_projects\vs2019\HealthMonitor\HealthMonitor.ConsoleApp\bin\Debug\"></HealthCheckParameter>-->
				</HealthCheckParameters>
			</HealthCheck>
		</HealthChecks>
	</HealthChecksSection>	
</configuration>